[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[fetch]
    prune = true
    pruneTags = true

[includeIf "hasconfig:remote.*.url:git@ssh.dev.azure.com:*/**"]
    path = ~/.gitconfig-azure-devops

[includeIf "hasconfig:remote.*.url:https://dev.azure.com/*/**"]
    path = ~/.gitconfig-azure-devops

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.gitconfig-github

[includeIf "hasconfig:remote.*.url:https://github.com/*/**"]
    path = ~/.gitconfig-github

